.header {
  padding: 2rem 0;
  margin: 0;
  position: relative;
  z-index: 1000;
  display: flex;
}

.header_nav {
  display: flex;
}

.header_nav_left {
  display: flex;
}

.header_nav_right {
  display: flex;
  margin-left: auto;
}

.header_nav_right p {
  padding-left: 1rem;
}
