.footer {
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 2rem;
  width: 2rem;
}

.footer_container {
  display: flex;
  width: 100%;
  transform: rotate(-90deg);
  /* justify-content: center; */
  align-items: center;
}

.footer_container p {
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.footer_icons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  /* margin-left: 0rem; */
}

.footer_icons li {
  padding: 0.5rem;
}

.footer_icons li svg {
  font-size: 1.1333rem;
  transform: rotate(90deg);
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}
