.heading_container {
  padding: 6rem 0 1rem 0;
}

.heading {
  font-size: 5rem;
  font-weight: 600;
  padding: 0.5rem;
}

.heading_number_container {
  padding: 6rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heading_number {
  padding: 1.5rem 3rem;
  color: #ef3e16;
  font-size: 3rem;
  font-style: italic;
}

.heading_intro {
  padding: 3rem 0;
}

.heading_intro_text {
  padding-top: 6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.heading_intro_text span {
  color: #ef3e16;
}

.circle_text {
  color: #ef3e16;
  text-align: center;
  padding-top: 4rem;
}
